/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  background-color: #000;
  background-position: center;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}



.img-logo {
  position:relative;
}
.img-logo {
  position: absolute;
  z-index:2;
  width: 24px;
  height: 24px;
}


#ex1 .fa-stack[data-count]:after{
  vertical-align: top;
  margin-left: -40px;
  content: attr(data-count);
  font-size:50%;
  padding:.6em;
  border-radius:50%;
  line-height:.8em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width: 0em;
}

#ex2 .avatar {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}


ul.topnav {
  list-style-type: none;
  margin-right: 250px;
  margin-left: 250px;
  overflow: hidden;
  background-color: white;
  box-shadow: -1px 1px 0px 0px  rgba(0,0,0,0.1);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: none;}

ul.topnav li a.active {background-color: none;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

p.ex3 {
  font-size: 40px;
  margin-left: 50px;
  color: black;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: none;
  margin-right: 250px;
  margin-left: 250px;
  box-shadow: -1px 0px 0px 0px  rgba(0,0,0,0.1);
}

.flex-container > div {
  background-color: inherit;
  width: 2000px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  margin-right: 500px;
  margin-left: 100px;
}

.badge{
  margin-left: 50%;
  margin-top: -50%;
}

h4 {
  color: #00cc99;
  font-family: sans-serif;
  font-size: 60%;
  margin-left: 50px;
  line-height: normal;
}
p  {
  color:  #8585ad;
  font-family: sans-serif;
  font-size: 45%;
  margin-right: 50px;
  margin-left: 50px;
  padding-left: 50px;
  padding-right: 50px;
  line-height: normal;
}

.button {
  background-color: #4CAF50;
  color: white;
  display: flex;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  margin-left: 50px;
}
.button1 {
  background-color: white;
  color: black;
  width : 150px;
  font-size: 70%;
  border: 1px solid #00cc99;
}

.buttonorder {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 1px 48px;
  text-align: center;
  font-size: 24px;
  margin-left: 50px;
  display: flex;
}

.buttonvision {
  background-color: #4CAF50;
  color: white;
  display: flex;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  margin-left: 50px;
}
.buttonvision1 {
  background-color: white;
  color: black;
  width : 150px;
  font-size: 70%;
  box-shadow: -1px 1px 0px 0px  rgba(0,0,0,0.1);
}

.buttonorder2 {
  background-color: white;
  color: black;
  font-size: 70%;
  border: 2px solid #00cc99;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  background-color: white;
  padding: 10px;
  margin-right: 100px;
  margin-left: 100px;
}

.grid-container > div {
  background-color: inherit;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  width: 400px;
  line-height: 75px;
  font-size: 30px;

}

img {
  float: left;
}

#rcorners2 {

  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 150px;
  height: 15px;
  font-size: 12px;
}

.circle {
  color: #000;
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  padding: 12px;
  margin: 16px;
  margin: 0.5em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 1px solid #eee;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
}
